{% extends 'monitor/base.html' %}
{% block title %}Password Reset Successful | Network Monitor{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-[#10223a] p-8 rounded-xl shadow-xl border border-cyan-500/20 text-center">

    <h2 class="text-3xl font-semibold text-cyan-400 mb-4">
        Password Reset Successful
    </h2>

    <p class="text-gray-300 mb-6">
        You can now log in using your new password.
    </p>

    <a href="/login/"
        class="px-6 py-3 bg-cyan-500 hover:bg-cyan-400 text-black rounded-lg font-semibold transition">
        Go to Login
    </a>

</div>

{% endblock %}
